{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Delete Users</h1>
          <span class="subheading">Delete all users from the Database.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5" style="align-items: center; align-content: center; text-align: center;">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>
          The button below will PERMANENTLY DELETE all records in the Database. <br>
          Be very sure before clicking it!!!
        </p>
        <a class="btn btn-lg btn-danger rounded-pill" href="{{ url_for('purge_db') }}">Purge Database</a>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
